<!DOCTYPE html><html>
  <head><meta charset="utf-8"><title>places home</title><meta content="width=device-width,user-scalable=no" name="viewport"><script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script><script type="text/javascript">WebFont.load({
      google: {
        families: ["Oswald:300,400,700","Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic","Arimo:regular"]
      }
    });</script><link href="/static/css/style.936b5f49448d53a01010.css" rel="stylesheet"></head>
    <body>
      <form method="POST">{% csrf_token %}</form>
      <div id="app"></div>
      <script type="text/javascript" src="/static/js/manifest.0470a296c74846313b37.js"></script><script type="text/javascript" src="/static/js/vendor.b17a7bbfd4faef5c052d.js"></script><script type="text/javascript" src="/static/js/style.936b5f49448d53a01010.js"></script><script type="text/javascript" src="/static/js/app.055c693f9d1bd7d9393d.js"></script>
    </body>
  </html>
